.git
.gitignore

frontend/.next
frontend/node_modules
frontend/.env*

backend/target

venv
__pycache__
*.pyc

python/tests
python/pytest.ini
python/mypy.ini
python/requirements-dev.txt

generated_midi
*.mid
*.zip

.DS_Store
*.log
