# Dataset
midi_dataset/

# Generated MIDI
generated_midi/
*.mid
*.zip

# Python
venv/
__pycache__/
*.pyc

# Java
target/

# Frontend
node_modules/
.next/

# Build
dist/
build/

# Env
.env
.env.local

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
analysis_output/
*:Zone.Identifier
